<template lang="pug">
v-app
  Navigation
  NuxtParticles(
    id="tsparticles"
    :options="options"
    @load="onLoad"
  )
  NuxtPage
  Footer
</template>

<script setup lang="ts">
import type { Container } from "tsparticles-engine";

// See tsParticles documentation for all available options
const options = {
  fullScreen: {
    enable: true,
    zIndex: 2,
  },
  background: {
    color: {
      value: "transparent",
    },
  },
  particles: {
    color: {
      value: "#1867c0",
    },
    links: {
      color: "#1867c0",
      enable: true,
    },
    move: {
      enable: true,
    },
    number: {
      value: 100,
    },
  },
};

const onLoad = (container: Container) => {
  // Do something with the container
  container.pause();
  setTimeout(() => container.play(), 2000);
};
</script>
